Port 22
AddressFamily inet
ListenAddress 0.0.0.0

AllowGroups ssh-users

Banner /etc/issue
PrintLastLog yes

LoginGraceTime 30
MaxAuthTries 3
ClientAliveInterval 300
ClientAliveCountMax 2
MaxSessions 12

PasswordAuthentication yes
PubkeyAuthentication no
HostbasedAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
PermitRootLogin no
IgnoreRhosts yes

X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding no
